Language: Cpp
BasedOnStyle: Google
TabWidth: 4
IndentWidth: 4
ColumnLimit: 120
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowAllConstructorInitializersOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty


