syntax: glob
*/CMakeFiles/*
*/_CPack_Packages/*
*/ipch/*
**/Debug/*
**/Release/*
**/RelWithDebInfo/*
*/Win32/*
*/ALL_BUILD.*
*/ZERO_CHECK.*
*.dir/*
*/CMakeCache.txt
**/cmake_install.cmake
*/lsversion_param.h
lsversion_param\.h
**/Makefile
*~
*.vcxproj*
*.opensdf
*.sdf
*.sln
*.suo
*.exe
*.grib2.ncx
*.grib2.gbx9
*.bak
*.cbp
*.layout
*.dll
*.a
*.orig
*.exp
*.lib
*.pdb
*.tlog
*.ilk
*.deb
*.o
*.psess
*.vsp
*.log
*.tmp
*.aux.xml
desktop.ini
CMakeCache.txt
cmake.check_cache
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
install_manifest.txt
CTestCostData.txt
DartConfiguration.tcl
atmoswing-forecaster
atmoswing-tests
atmoswing-viewer
atmoswing-optimizer
atmoswing-downscaler
bin/
*.rej
.idea/*
Test Results *
**/CMakeFiles/*
**-prefix/*
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
external/
**/vroomgis/
**/eigen-prefix/
**/googletest-prefix/
*.resolve
*.base
*.info

