syntax: glob
_CPack_Packages/*
*/CMakeFiles/*
*/ipch/*
**/Debug/*
**/Release/*
**/RelWithDebInfo/*
**/gdalwmscache/*
*/Win32/*
*/ALL_BUILD.*
*/ZERO_CHECK.*
*.dir/*
*/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
*~
*.vcxproj*
*.opensdf
*.sdf
*.sln
*.suo
*.exe
*.grib2.ncx
*.grib2.gbx9
*.bak
*.cbp
*.layout
*.dll
*.a
*.orig
*.exp
*.lib
*.pdb
*.tlog
*.ilk
*.deb
*.o
*.psess
*.vsp
*.log
*.tmp
*.aux.xml
.buildconfig
desktop.ini
CMakeCache.txt
cmake.check_cache
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
install_manifest.txt
CTestCostData.txt
DartConfiguration.tcl
atmoswing-forecaster
atmoswing-tests
atmoswing-viewer
atmoswing-optimizer
atmoswing-downscaler
bin/
bin-*/
*.rej
.idea/*
Test Results *
**/CMakeFiles/*
**-prefix/*
cmake-build-*/
data-debug/
external/
**/x64-Debug/
**/.vs/
*.resolve
*.base
*.info
*.db
*.db-wal
*.db-shm
*.opendb
*.nvvp
benchmark/z.nc
benchmark/atmoswing-benchmark
docs/html/
docs/latex/
